{% extends 'home.html' %}
{% load static %}
{% block title %}
    <title>Blog Grupo 5 - Contacto</title>
{% endblock title %}  

{% block usuario-barra %}
<a class="nav-link px-lg-3 py-3 py-lg-4" style="text-shadow: 0 0 7px rgba(255, 255, 255, 1); ; color: black;" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Hola, {{ user.username }} ▼
</a>
{% endblock usuario-barra %} 
    {% block contenido %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static 'assets/img/contact-bg.jpg' %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Contactanos</h1>
                            <span class="subheading">¿Tenés preguntas? Tenemos respuestas.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>¿Nos mantenemos en contacto? Completá el siguiente formulario para enviarnos un mensaje y te lo responderemos tan pronto como sea posible!</p>
                        <div class="my-5">
                            <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                                <div class="form-floating">
                                    <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                                    <label for="name">Nombre</label>
                                    <div class="invalid-feedback" data-sb-feedback="name:required">Se requiere un nombre.</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="email" type="email" placeholder="Enter your email..." data-sb-validations="required,email" />
                                    <label for="email">Correo electrónico</label>
                                    <div class="invalid-feedback" data-sb-feedback="email:required">Se requiere una dirección de correo.</div>
                                    <div class="invalid-feedback" data-sb-feedback="email:email">Correo invalido.</div>
                                </div>
                                <div class="form-floating">
                                    <input class="form-control" id="phone" type="tel" placeholder="Enter your phone number..." data-sb-validations="required" />
                                    <label for="phone">Número de teléfono</label>
                                    <div class="invalid-feedback" data-sb-feedback="phone:required">Se requiere un número de teléfono.</div>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" id="message" placeholder="Enter your message here..." style="height: 12rem" data-sb-validations="required"></textarea>
                                    <label for="message">Mensaje</label>
                                    <div class="invalid-feedback" data-sb-feedback="message:required">Debe escribir un mensaje!</div>
                                </div>
                                <br />
                               

                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Formulario completado exitósamente!</div>
                                        
                                    </div>
                                </div>
                                

                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error enviando el mensaje!</div></div>
                                <!-- Submit Button-->
                                <button class="btn btn-primary text-uppercase disabled" id="submitButton" type="submit">Enviar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        {% endblock contenido %}
       
        