{% extends 'home.html' %}
{% load static %}
{% block title %}
    <title>¡Viajazos! - Contacto</title>
{% endblock title %}  

{% block usuario-barra %}
<a class="nav-link px-lg-3 py-3 py-lg-4" style="text-shadow: 0 0 7px rgba(255, 255, 255, 1); ; color: black;" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Hola, {{ user.username }} ▼
</a>
{% endblock usuario-barra %} 
    {% block contenido %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static 'assets/img/contact-bg.jpg' %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Contactanos</h1>
                            <span class="subheading">¿Tenés preguntas? Tenemos respuestas.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        
            <div class="contact-section">
                <div class="mid-containt-contact">
                    <strong style="font-family: 'Work Sans', sans-serif;">¡Nos podes encontrar aquí!</strong>
                    <div class="contacus-form clear-contact">
                        <div class="contac-map left-contact">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3540.784779336457!2d-59.05114912534818!3d-27.444817315645054!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94450bb412275619%3A0xe1c791e7bcdafb37!2sAeropuerto%20Internacional%20de%20Resistencia%20(SIS%20-%20SARE%20-%20RES)!5e0!3m2!1ses!2sar!4v1703043019210!5m2!1ses!2sar" width="100%" height="637" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                        <div class="contact-form right-contact">
                            <h4 style="font-family: 'Work Sans', sans-serif;">¿Nos mantenemos en contacto?</h4>
                            <p style="font-family: 'Work Sans', sans-serif; text-align: justify;">Completá el siguiente formulario para enviarnos un mensaje y te lo responderemos tan pronto como sea posible.</p>
                            <div class="contact-form-r clear-contact">
                                

                                <form method="post" action="{% url 'contacto' %}">
                                    {% csrf_token %}
                                    
                                    <input type="email" name="{{ form.email.name }}" id="{{ form.email.id_for_label }}" placeholder="Correo electrónico" class="default-input-contact w-100">
                                    {% if form.email.errors %}
                                        <span class="error" style="display: flex; ">{{ form.email.errors}} - Correo electrónico</span>
                                    {% endif %}   

                                    <input type="text" name="{{ form.nombre.name }}" id="{{ form.nombre.id_for_label }}" placeholder="Nombre" class="default-input-contact w-50-contact left-contact">
                                    <input type="text" name="{{ form.telefono.name }}" id="{{ form.telefono.id_for_label }}" placeholder="Teléfono" class="default-input-contact w-50-contact right-contact">
                                    
                                    {% if form.email.errors %}
                                        {% if form.nombre.errors %}     
                                            <br><br><br><br>
                                            <span class="error" style="display: flex; ">{{ form.nombre.errors }} - Nombre</span>
                                            {% if form.telefono.errors %}
                                                <span class="error" style="display: flex; ">{{ form.telefono.errors }} - Teléfono</span>
                                            {% endif %}
                                        {% else %}
                                            {% if form.telefono.errors %}
                                            <br><br><br><br>
                                                    <span class="error" style="display: flex; ">{{ form.telefono.errors }} - Teléfono</span>
                                            {% endif %}
                                        {% endif %}
                                    {% else %}
                                        {% if form.nombre.errors %}
                                        <br><br><br><br><br>
                                            <span class="error" style="display: flex; ">{{ form.nombre.errors }} - Nombre</span>
                                            {% if form.telefono.errors %}
                                                <span class="error" style="display: flex; ">{{ form.telefono.errors }} - Teléfono</span>
                                            {% endif %}
                                        {% else %}
                                            {% if form.telefono.errors %}
                                            <br><br><br><br><br>
                                                <span class="error" style="display: flex; ">{{ form.telefono.errors }} - Teléfono</span>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}    
                                    <textarea name="{{ form.mensaje.name }}" id="{{ form.mensaje.id_for_label }}" placeholder="Mensaje" class="default-input-contact w-100"></textarea>
                                    {% if form.mensaje.errors %}
                                        <span class="error" style="display: flex; ">{{ form.mensaje.errors }} - Mensaje</span>
                                    {% endif %}
                                    <button type="submit" class="btn btn-primary text-uppercase" id="submitButton" style="width: 100%; margin-bottom: 50px ;">ENVIAR</button>
                                    
                                    
                                </form>
                                {% if messages %}
                                    <div class="alert alert-success" style="text-align: center;" role="alert">
                                        {% for message in messages %}
                                            {{ message }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        
        {% endblock contenido %}
       
        