{% extends 'home.html' %}
{% load static %}
{% block title %}
    <title>Blog Grupo 5 - Nosotros</title>
{% endblock title %}  
    {% block contenido %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static 'assets/img/about-bg.jpg' %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Sobre nosotros</h1>
                            <span class="subheading">Somos esto.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7" style="text-align: justify;">
                        <p>Este blog fue creado por estudiantes del grupo 5, en la 6ta comisión del Informatorio, como proyecto final.</p>
                        <p>En Viajazos podés crear tus propias entradas sobre tus viajes, o leer y comentar en publicaciones creadas por otros usuarios. La principal finalidad de este blog es compartir los viajes realizados o soñados con el resto de la comunidad, nos apasiona conocer las maravillas del mundo a través de la mirada del otro.</p>
                        <p>El equipo detrás de esta página está compuesto por:</p>
                        <ul>
                            <li>Germán Segovia <A HREF="https://github.com/gersegocon"
                                title="Página personal de GitHub de Germán Segovia"> <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-1x fa-inverse"></i>
                                    <i class="fab fa-github fa-stack-1x"></i> </A></li>
                            <li>Luciano Iturri <A HREF="https://github.com/luciano-iturri"
                                title="Página personal de GitHub de Luciano Iturri"> <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-1x fa-inverse"></i>
                                    <i class="fab fa-github fa-stack-1x"></i> </A></li>
                            <li>Marcos Toloza <A HREF="https://github.com/mrcstz"
                                title="Página personal de GitHub de Marcos Toloza"> <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-1x fa-inverse"></i>
                                    <i class="fab fa-github fa-stack-1x"></i> </A></li>
                        </ul>
                    </div>
                </div>
            </div>
        </main>
        {% endblock contenido %}
