{% extends 'usuarios/registro.html' %}
{% load static %}
{% block title %}
    <title>{{user.username}}: Crear publicación</title>
{% endblock title %}  

{% block login %}
    <h1 style="white-space: nowrap; display: inline-block;">Crea una publicación</h1>
    <span class="subheading">Contale a todos sobre tu viaje</span>
    <br>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="formulario-crear">
            {{ form.as_p }}
        </div>
        <button class="btn btn-primary text-uppercase" id="boton-guardar" type="submit">Guardar</button>
    </form>
    
{% endblock login %}
