{% extends 'viajes/listar.html' %}
{% load static %}
{% block title %}
    <title>{{viajes.titulo}}</title>
{% endblock title %}  
    {% block contenido %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static 'assets/img/post-bg.jpg' %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <!-- Contenedor del fondo cuadrado -->
                            <div class="fondo-cuadrado">
        
                                <p class="categoria-viajes">Categoría:</p>
                                <p class="categoria-viajes1">{{viajes.categoria_viaje}}</p>
                            </div>
                            <h1>{{viajes.titulo}}</h1>
                            <span class="subheading">Todas las anécdotas y datos de este destino.</span>
                            <p class="post-meta-detalle">
                                Publicado por <a href="{% url 'usuarios:perfil' viajes.autor_id %}">{{viajes.autor}}</a>
                                el {{ viajes.fecha_publicacion }}
                            </p>
                            <!-- para favs -->
                            {% if user.is_authenticated %}
                                <button id="toggle-favorito" class="btn btn-primary text-uppercase">
                                    {% if is_favorito %}
                                        Quitar de favoritos ★
                                    {% else %}
                                        Añadir a favoritos ★
                                    {% endif %}
                                </button>
                                

                                <div id="mensaje-favorito" class="mt-2"></div>

                                <script>
                                    function mostrarMensaje(mensaje) {
                                        var mensajeElement = document.getElementById('mensaje-favorito');
                                        mensajeElement.innerText = mensaje;
                                        mensajeElement.style.display = 'block';

                                        // Oculta el mensaje después de 3 segundos (3000 milisegundos)
                                        setTimeout(function() {
                                            mensajeElement.style.display = 'none';
                                        }, 1000);
                                    }

                                    document.getElementById('toggle-favorito').addEventListener('click', function() {
                                        var xhr = new XMLHttpRequest();
                                        xhr.onreadystatechange = function() {
                                            if (xhr.readyState === 4 && xhr.status === 200) {
                                                var response = JSON.parse(xhr.responseText);

                                                // Actualiza el texto del botón
                                                if (response.is_favorito) {
                                                    document.getElementById('toggle-favorito').innerText = 'Quitar de favoritos ★';
                                                } else {
                                                    document.getElementById('toggle-favorito').innerText = 'Añadir a favoritos ★';
                                                }

                                                // Muestra el mensaje emergente
                                                mostrarMensaje(response.message);
                                            }
                                        };
                                        xhr.open('GET', '{% url "viajes:toggle_favorito" pk=viajes.pk %}', true);
                                        xhr.send();
                                    });

                                    // Al cargar la página, actualiza el texto del botón según el estado inicial
                                    window.onload = function() {
                                        var isFavorito = {{ is_favorito|lower }};
                                        if (isFavorito) {
                                            document.getElementById('toggle-favorito').innerText = 'Quitar de favoritos ★';
                                        } else {
                                            document.getElementById('toggle-favorito').innerText = 'Añadir a favoritos ★';
                                        }
                                    };
                                </script>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
        <!-- Post Content-->
        
        <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        {% if user.is_authenticated and viajes.autor == user or user.is_staff %}
                        <div class="opciones">
                            <a id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                                Opciones publicación ▼</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <!-- Contenido del menú desplegable -->
                                    <form method="POST" action="{% url 'viajes:detalle' pk=viajes.pk %}">
                                        {% csrf_token %}
                                        <button class="btn btn-primary text-uppercase boton-borrar" name="delete_viaje">Eliminar</button>
                                    </form>
                                    <div class="dropdown-divider1"></div>
                                    <div class="cuadro-boton-editar">
                                        <form method="POST" action="{% url 'viajes:edit_viaje' pk=viajes.pk %}">
                                            {% csrf_token %}
                                            <button class="btn btn-primary text-uppercase boton-editar" name="editar_viaje">Editar</button>
                                        </form>
                                    </div>
                                </div>
                        </div>                           
                        {% endif %}
                        
                        <div class="detalles-viaje">
                            <img src="{{viajes.imagenes.url}}">
                            <p><strong style="font-style: italic; font-size: 15px; font-family: 'Work Sans', sans-serif;">{{ viajes.descripcion_imagen }}</strong></p>
                            <p>{{viajes.contenido}}</p>
                            
                        </div>
                        
                    <div class="comentarios">
                        <h4>Comentarios</h4>
                        {% if comentarios %}
                            {% for comentario in comentarios %}
                                <div class="cajas-comentarios">
                                    <a><strong>{{ comentario.usuario }}</strong> - {{ comentario.fecha_creacion }}</a>
                                    <p>{{ comentario.contenido }}</p>
                                    
                                    <form method="post" action="{% url 'viajes:delete_comentario' comentario.id %}">
                                        {% csrf_token %}
                                        {% if comentario.usuario == user.username or user.is_staff %}
                                        <div class="botones-comentarios" style="display: flex; flex-direction: row; align-items: center;">
                                            <button class="borrar-comentario" type="submit">🗑️ ELIMINAR</button>
                                            <a id="editar-comentario" href="{% url 'viajes:edit_comentario' comentario_id=comentario.id %}">📝 EDITAR</a>
                                        </div>
                                        {% endif %}
                                    </form>
                                    <hr class="my-4" />
                                </div>
                            {% endfor %}
                        {% else %}
                        <a style="font-style: italic">No hay comentarios en este viaje aún.</a>
                        <br><br> 
                        {% endif %}
                                                

                            {% if user.is_authenticated %}  
                                <h4>Añadir comentario</h4>  
                                <form method="post" action="{% url 'viajes:add_comentario' viajes.pk %}">
                                    {% csrf_token %}
                                    <div class="comentario-detalle">
                                        <textarea name="contenido" rows="2" cols="35" placeholder="Escribe aquí tu comentario"></textarea>
                                    </div>
                                    <div class="acomodo-boton">
                                        <button type="submit" class="enviar-comentario" name="add_comentario">ENVIAR</button>
                                    </div>
                                </form>
                            {% else %}
                            <br>    
                            <a style="font-style: italic;">Debe iniciar sesión para dejar un comentario - </a>
                            <a style="font-weight: bold;" href="{% url 'usuarios:login' %}">INICIAR SESION</a>
                            <br>
                            {% endif %}
                    </div>
                        <br>
                        <div class="d-flex justify-content-center mt-4">
                            {% if viaje_anterior %}
                                <a class="btn btn-primary text-uppercase" style="width: 200px;" href="{% url 'viajes:detalle' viaje_anterior.pk %}">⟸ viaje Anterior</a>
                            {% else %}
                                <a class="btn btn-primary text-uppercase" style="width: 200px; visibility: hidden;">⟸ viaje Anterior</a>
                            {% endif %}
                            
                            <a class="btn btn-primary text-uppercase" style="width: 200px;" href="{% url 'viajes:listar' %}">Todos los viajes</a>
                    
                            {% if siguiente_viaje %}
                                <a class="btn btn-primary text-uppercase" style="width: 200px;" href="{% url 'viajes:detalle' siguiente_viaje.pk %}">Siguiente viaje ⟹</a>
                            {% else %}
                                <a class="btn btn-primary text-uppercase" style="width: 200px; visibility: hidden;">Siguiente viaje ⟹</a>
                            {% endif %}
                                    
                        </div>
                    
                        <div class="d-flex justify-content-center mt-4">
                            <a class="btn btn-primary text-uppercase volver" href="{% url 'home' %}">
                                <i class="fas fa-home"></i> Volver al inicio
                            </a>
                        </div>
                        <br>
                        <!-- Divider-->
                        <hr class="my-4" />
                 
{% endblock contenido %}
                       

        