{% extends 'viajes/listar.html' %}
{% load static %}
{% block title %}
    <title>{{viajes.titulo}}</title>
{% endblock title %}  
    {% block contenido %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('{% static 'assets/img/post-bg.jpg' %}')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <!-- Contenedor del fondo cuadrado -->
                            <div class="fondo-cuadrado">
        
                                <p class="categoria-viajes">Categoría:</p>
                                <p class="categoria-viajes1">{{viajes.categoria_viaje}}</p>
                            </div>
                            <h1>{{viajes.titulo}}</h1>
                            <span class="subheading">Todas las anécdotas y datos de este destino.</span>
                            <p class="post-meta-detalle">
                                Publicado por <a href="#">{{viajes.autor}}</a>
                                el {{ viajes.fecha_publicacion }}
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>
        
        <!-- Post Content-->
        
        <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        {% if user.is_authenticated and viajes.autor == user %}
                        
                            <a id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                                Opciones publicación ▼</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <!-- Contenido del menú desplegable -->
                                    <form method="POST" action="{% url 'viajes:detalle' pk=viajes.pk %}">
                                        {% csrf_token %}
                                        <button class="btn btn-primary text-uppercase boton-borrar" name="delete_viaje">Eliminar</button>
                                    </form>
                                    <div class="dropdown-divider1"></div>
                                    <div class="cuadro-boton-editar">
                                        <button class="btn btn-primary text-uppercase boton-editar" name="editar_viaje">Editar</button>
                                    </div>
                                    
                                </div>
                                                   
                        {% endif %}
                        
                        <div class="detalles-viaje">
                            <p>{{viajes.contenido}}</p>
                            <img src="{{viajes.imagenes.url}}">
                            <br>
                        </div>        
                        <div class="d-flex justify-content-center mt-4">
                            {% if viaje_anterior %}
                                <a class="btn btn-primary text-uppercase" style="width: 200px;" href="{% url 'viajes:detalle' viaje_anterior.pk %}">⟸ viaje Anterior</a>
                            {% else %}
                                <a class="btn btn-primary text-uppercase" style="width: 200px; visibility: hidden;">⟸ viaje Anterior</a>
                            {% endif %}
                            
                            <a class="btn btn-primary text-uppercase" style="width: 200px;" href="{% url 'viajes:listar' %}">Todos los viajes</a>
                    
                            {% if siguiente_viaje %}
                                <a class="btn btn-primary text-uppercase" style="width: 200px;" href="{% url 'viajes:detalle' siguiente_viaje.pk %}">Siguiente viaje ⟹</a>
                            {% else %}
                                <a class="btn btn-primary text-uppercase" style="width: 200px; visibility: hidden;">Siguiente viaje ⟹</a>
                            {% endif %}
                                    
                        </div>
                    
                        <div class="d-flex justify-content-center mt-4">
                            <a class="btn btn-primary text-uppercase volver" href="{% url 'home' %}">
                                <i class="fas fa-home"></i> Volver al inicio
                            </a>
                        </div>
    {% endblock contenido %}
                       

        