{% extends 'viajes/editar.html' %}
{% load static %}
{% block title %}  
    <title>{{user.username}}: Editar comentario</title>
{% endblock title %}  

{% block login %}
    
    <h3 style="white-space: nowrap; display: inline-block;">Editar comentario</h3>
    <br><br>
    <form action="" method="post">
        {% csrf_token %}
        <div class="editar-comentario">
            {{ form.contenido }}
            
        </div>
        <br><br>
        <button class="btn btn-primary text-uppercase1" id="boton-editar" type="submit">Guardar cambios</button>
        <br><br>
    </form>
{% endblock login %}