{% extends 'viajes/listar.html' %}
{% load static %}

{% block title %}
    <title>{{user.username}}: Favoritos ★</title>
{% endblock title %}

{% block barra-para-fav %}
<nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" style="color: black;" href="{% url 'home' %}">¡Viajazos!</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
                <i class="fas fa-bars"></i>
            </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="color: black;" href="{% url 'home' %}">Inicio</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="color: black;" href="{% url 'nosotros' %}">Acerca de Nosotros</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="color: black;" href="{% url 'viajes:listar' %}">viajes</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" style="color: black;" href="{% url 'contacto' %}">Contacto</a></li>
                        {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            {% block usuario-barra %}
                            <a class="nav-link px-lg-3 py-3 py-lg-4" style="color: black;" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Hola, {{ user.username }} ▼

                            </a>
                            {% endblock usuario-barra %}

                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <!-- Contenido del menú desplegable -->
                                <a class="dropdown-item" href="{% url 'usuarios:mi-perfil' %}">Mi perfil 👨‍💼</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'viajes:mis_favoritos' %}">Viajes favoritos ⭐</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="{% url 'usuarios:logout' %}">Cerrar sesión 🚫</a>
                            </div>
                        </li>
                        {% else %}
                            <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'usuarios:login' %}">LOGIN</a></li>
                            <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="{% url 'usuarios:registro' %}">REGISTRO</a></li>

                        {% endif %}
{% endblock barra-para-fav %}  




{% block contenido %}  

<div class="container px-4 px-lg-5">
    
        <div class="row gx-4 gx-lg-5 justify-content-center">
            
            <div class="col-md-10 col-lg-8 col-xl-7">
                <header class="masthead-favoritos">
                    <div class="container position-relative px-4 px-lg-5">
                        <div class="pie-pagina-viajes">
                            <div class="col-md-10 col-lg-8 col-xl-7">
                                <div class="post-heading">
                                    <h3>Viajes favoritos 😍✨</h3>
                                    <br>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                
                {% if viajes_favoritos %}
                                
                    {% for viaje in viajes_favoritos %}
                    <!-- Post preview-->
                    <div class="post-preview">
                        <div class="row">
                            {% if viaje.imagenes %}
                                <div class="col-md-4">
                                    <img src="{{ viaje.imagenes.url }}" alt="{{ viaje.titulo }}" class="img-fluid">
                                </div>
                                <div class="col-md-8">
                            {% else %}
                                <div class="col-md-12">
                            {% endif %}
                        <h2 class="post-title"><a href="{% url 'viajes:detalle' viaje.pk %}">{{ viaje.titulo }}</a></h2>
                        <p class="post-subtitulos">{{ viaje.resumen }}</p>
                        <p class="post-meta-listar">
                            Publicado por <a href="{% url 'usuarios:perfil' viaje.autor_id %}">{{viaje.autor}}</a>
                            el {{ viaje.fecha_publicacion }}
                        </p>
                                
                        </div>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}
                {% else %}
                <p id="no-hay">No hay viajes seleccionados como favoritos aún.</p>
                <!-- Divider-->
                <hr class="my-4" />
                {% endif %}
            
                

                
{% endblock contenido %}