{% extends 'home.html' %}
{% load static %}
{% block title %}
    <title>Blog Grupo 5 - INICIAR SESIÓN</title>
{% endblock title %}
  
{% block contenido %}
{% block titulo %}LOGIN{% endblock titulo %}
    <form method="post"> {% csrf_token %}
        {% if messages %}
            {% for m in messages %}
            <div class="alert alert-danger">{{ m }}</div>
            {%endfor%}
        {%endif%}
    <input type="text" name="username" placeholder="Nombre de usuario">
    <input type="password" name="password" placeholder="Contraseña">
    <button type="submit">Login</button>

    </form>
{% endblock contenido %}