{% extends 'usuarios/mi-perfil.html' %}
{% load static %}

{% block title %}
    <title>Perfil usuario: {{ usuarios.username }}</title>
{% endblock title %} 

{% block contenido %}
    <body class="body-login" style="background-image: url('https://i.ibb.co/SnGVYfG/inicio-sesion1-MConverter-eu.webp'); background-color:rgba(255, 255, 255, 0.5); background-blend-mode: overlay; ">
        <div class="container-fluid">
            <!-- Contenido de la página -->
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading2"  style="background-color: rgb(0, 0, 0, 0.8)">
                            <br>
                            
                            <div class="boton-y-foto">
                                <div class="perfil-imagen" style="display: inline-block; position: relative;">
                                {% if usuarios.imagen %}
                                    <img class="imagenperfilusuarios" src="{{ usuarios.imagen.url }}" alt="Imagen de perfil de {{ usuarios.username }}">
                                {% else %}
                                    <img class="imagenperfilusuarios" src="{% static 'assets/img/default-user.png' %}" alt="Imagen de perfil predeterminada">
                                {% endif %}
                                    
                                </div>
                                {% if user.is_staff %}
                                    <div class="boton-cambio">
                                        
                                        {% if usuarios.imagen %}
                                        <div class="con-foto">
                                            <a id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">
                                                <strong class="circulo">📷</strong></a>
                                                <div id="dropdown-fotos" class="dropdown-menu" aria-labelledby="navbarDropdown">
                                                    <!-- Contenido del menú desplegable -->
                                                    <a href="{% url 'usuarios:update_profile_picture_users' pk=usuarios.pk %}" class="change-picture-btn" title="Cambiar foto de perfil">📷 EDITAR</a>
                                                    <div class="dropdown-divider1"></div>
                                                    <a href="{% url 'usuarios:eliminar_foto_perfil' pk=usuarios.pk %}" class="eliminar-foto-btn" title="Eliminar foto de perfil">❌ BORRAR</a>
                                                </div>
                                            
                                        
                                            
                                        
                                    </div>
                                    {% else %}
                                        <div class="sin-foto">
                                            <a href="{% url 'usuarios:update_profile_picture_users' pk=usuarios.id %}" class="change-picture-btn" title="Subir una foto de perfil">
                                            <strong class="circulo">+</strong> 
                                            </a>    
                                        </div> 
                                            
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                            
                            <br>
                            {% if usuarios.is_staff %}
                            
                                <h1 style="white-space: nowrap; display: inline-block;">Perfil usuario (Staff)</h1>
                                {% if usuarios.is_superuser %}
                                    <span class="subheading">Usuario administrador</span>
                                {% else %}
                                    <span class="subheading">Usuario colaborador</span>
                                {% endif %}
                                
                            {% else %}
                            <h1 style="white-space: nowrap; display: inline-block;">Perfil usuario</h1>
                                <span class="subheading">Usuario miembro</span>
                                
                            {% endif %}
                            <div class="miperfil-nombre-apellido">
                                <strong>Nombre y apellido:</strong>
                                <i id="miperfil-nombre-apellido">{{ usuarios.first_name }}</i>
                            </div>
                            
                            <div class="miperfil-nameuser">
                                <strong>Nombre de usuario:</strong>
                                <i id="miperfil-nameuser">{{ usuarios.username }}</i>
                            </div>
                            
                            <div class="miperfil-email">
                                <strong>Correo electrónico:</strong>
                                <i id="miperfil-email">{{ usuarios.email }}</i>
                            </div>
            
                            <div class="miperfil-fecha-registro">
                                <strong>Fecha de registro:</strong>
                                <i id="miperfil-fecha-registro"> {{ usuarios.date_joined }} </i>
                            </div>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
{% endblock contenido %}
