{% extends 'usuarios/registro.html' %}
{% load static %}
{% block title %}
    <title>Editar foto de perfil de {{usuarios.username}}</title>
{% endblock title %}  

{% block login %}
    {% if usuarios.imagen %}
        <h1 style="display: inline-block; word-wrap: break-word;">Editar foto de perfil de {{usuarios.username}}</h1>
    {% else %}
        <h1 style="display: inline-block; word-wrap: break-word;">Subí la primera foto de perfil de {{usuarios.username}}</h1>
    {% endif %}
    <span class="subheading">Elegí la foto que te parezca adecuada</span>
    
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="archivo-container">
            {{ form.imagen }}
          
        </div>
        <br>
        <button class="btn btn-primary text-uppercase1" id="boton-editar-guardar" type="submit">Guardar cambios</button>
        
    </form>
    <br>
{% endblock login %}
