{% extends 'usuarios/registro.html' %}
{% load static %}
{% block title %}
    <title>{{user.username}}: Editar foto de perfil</title>
{% endblock title %}  


{% block cuadrado-negro %}
    <div class="site-heading1"  style="background-color: rgb(0, 0, 0, 0.8)">
{% endblock cuadrado-negro %}
{% block login %}
    <h1 style="white-space: nowrap; display: inline-block;">Edita tu foto de perfil</h1>
    <span class="subheading">Elegí la foto que más te identifique</span>
    
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="formulario-crear">
            {{ form.as_p }}
        </div>
        <button class="btn btn-primary text-uppercase1" id="boton-editar-guardar" type="submit">Guardar cambios</button>
        
    </form>
    <br>
{% endblock login %}
